<h1>
    Results
</h1>

<p> <%= business.name %> </p>
<p> <%= business.image %> </p>
<p> <%= business.url %> </p>
<p> <%= business.phone %> </p>
<p> <%= business.price %> </p>
<p> <%= business.categories %> </p>
<p> <%= business.address %> </p>
<p> <%= business.review_count %> </p>
<p> <%= business.rating %> </p>
